<%- include('partials/header') -%>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-primary shadow">
        <div class="card-header bg-secondary text-white">
          <h2 class="text-center m-0">Edit Selected Climb</h2>
        </div>
        <div class="card-body">
          <form action="/post/finalizeEditIndividual/<%= climb._id %>?_method=PUT" method="POST">
            <div class="mb-3">
              <label for="typeOfClimb" class="form-label">Type Of Climb</label>
              <select id="typeOfClimb" name="typeOfClimb" class="form-control">
                <option value="Bouldering" <%= (climb.typeOfClimb === 'Bouldering') ? 'selected' : '' %>>Bouldering</option>
                <option value="Routes" <%= (climb.typeOfClimb === 'Routes') ? 'selected' : '' %>>Routes</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="Difficulty" class="form-label">Difficulty</label>
              <input type="range" class="form-control" id="Difficulty" min="0" max="11" name="Difficulty" oninput="updateDifficultyValue()" value="<%= climb.difficulty %>">
              <span id="DifficultyValue">Drag The Slider To Choose Climbing Difficulty</span>
              <input type="hidden" id="DifficultyInput" name="Difficulty">
            </div>    
            <div class="mb-3">
              <label for="Attempts" class="form-label">Attempts?</label>
              <input type="range" class="form-control" id="Attempts" min="1" max="15"  name="Attempts" oninput="updateAttemptsValue()" value="<%= climb.attempts %>">
              <span id="AttemptsValue">Drag The Slider To Choose Your Attempts</span>
            </div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="Top" id="Yes" value="Yes" <%= climb.top === 'Yes' ? 'checked' : '' %> autocomplete="off">
              <label class="btn btn-outline-primary" for="Yes">Yes</label>
            
              <input type="radio" class="btn-check" name="Top" id="No" value="No" <%= climb.top === 'No' ? 'checked' : '' %> autocomplete="off">
              <label class="btn btn-outline-primary" for="No">No</label>
            </div>            
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image/Video</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <div class="btn-group d-flex flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
              <% const keywords = ['Arete', 'Barn Door', 'Crimpy', 'Dynamic', 'Dyno', 'Feet Matching', 'Flash', 'Gaston', 'Hand Matching', 'Heel Hook', 'Juggy', 'Mantel', 'On Sight', 'Overhanging', 'Pockets', 'Pumped', 'Red Point', 'Slopers', 'Side Pull', 'Static', 'Undercling'] %>
              <% for (let i = 0; i < keywords.length; i++) { %>
                <input type="checkbox" class="btn-check" id="btncheck<%= i+1 %>" name="Keywords" value="<%= keywords[i] %>" autocomplete="off" <%= climb.tags.includes(keywords[i]) ? 'checked' : '' %>>
                <label class="btn btn-outline-primary m-1" for="btncheck<%= i+1 %>"><%= keywords[i] %></label>
              <% } %>
            </div>
            <div class="mb-3">
              <label for="Notes" class="form-label">Notes</label>
              <textarea class="form-control" id="Notes" name="Notes"><%= climb.notes %></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary me-2" value="Update Climb">Update Climb</button>
              <a href="/session" class="btn btn-primary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
<%- include('partials/footer') -%>
  