<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<sessions.length; i++) {%>
          <li class="col-7 justify-content-between mt-5">
            <a href="/post/<%= sessions[i]._id%>">
              <img class="img-fluid" src="<%= sessions[i].image%>">
            </a>
            <h3><%= sessions[i].username %></h3>
            <p><%= sessions[i].createdAt %></p>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>