<a class="btn btn-primary" href="/session">New Session</a>
<a class="btn btn-primary" href="/profile">My Profile</a></h1>
<a class="btn btn-primary" href="/logout">Logout</a>
<%- include('partials/header') -%>
<h1 class="text-center">Feed</h1>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <% for(var i=0; i<sessions.length; i++) {%>
        <li class="col-7 justify-content-between mt-5">
          <a href="/post/viewSession/<%= sessions[i]._id %>" method="GET">Session Info</a>
          <h3><%= sessions[i].username %></h3>
          <p><%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
          <p>Total number of climbs in this session: <%= sessions[i].climbs.length %></p>
          <!-- Declares variable that holds hardest climb, iterates through each climbs to check if it was topped out-->
          <!-- Then checks what discipline of climbing and if it's harder than the currest hardest climb-->
          <% let hardestBoulder, hardestRoute %>
          <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
            <% const climb = sessions[i].climbs[j] %>
            <% if (climb.top === 'Yes') { %>
              <% if (climb.typeOfClimb === 'Bouldering' && (!hardestBoulder || climb.difficulty > hardestBoulder.difficulty)) { %>
                <% hardestBoulder = climb %>
              <% } else if (climb.typeOfClimb === 'Routes' && (!hardestRoute || climb.difficulty > hardestRoute.difficulty)) { %>
                <% hardestRoute = climb %>
              <% } %>
            <% } %>
          <% } %>
          <!-- Checking to see if either variable is truthy, will display difficulty of hardest climb in that category-->
          <% if (hardestBoulder) { %>
            <p>Hardest Boulder: <%= hardestBoulder.difficulty %></p>
          <% } %>

          <% if (hardestRoute) { %>
            <p>Hardest Route: <%= hardestRoute.difficulty %></p>
          <% } %>
          <!-- Checking to see if there are any climbs, will iterate through climbs and check for images to render -->
          <% if (sessions[i].climbs && sessions[i].climbs.length > 0) { %>
            <span>Boulder Problems and Routes Pics</span>
            <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
              <% const climb = sessions[i].climbs[j] %>
              <% if (climb.image) { %>
                <img class="img-fluid" src="<%= climb.image %>">
              <% } %>
            <% } %>
          <% } %>
          <form class="col-1" action="/post/likePost/<%= sessions[i]._id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
            <p class="col-3">Likes: <%= sessions[i].likes %></p>
          </form>

          <% if (sessions[i].user == user.id) { %>
            <form action="/post/deleteSession/<%= sessions[i]._id %>?_method=DELETE" method="POST">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
          <% } %>
            
          <div class="mt-5">
            <h5>Add A Comment</h5>
              <form action="/post/commentSession/<%= sessions[i]._id %>" method="POST">
                <div class="mb-3">
                  <input type="text" class="form-control" id="title" name="comment">
                  <button type="submit" class="btn btn-primary" value="Comment">Submit</button>
              </form>

            <ul class="row list-unstyled">
              <h5>Comments</h5>
                <% for (let j = 0; j < comments.length; j++) { %>
                  <% const comment = comments[j] %>
                  <% if (comment.sessionId.toString() === sessions[i]._id.toString()) { %>
                    <li>
                      <small><%= comment.comment %></small>
                      <small>Submitted by <%= comment.username %></small>
                    </li>
                  <% } %>
                <% } %>
            </ul>             
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</div>  
<%- include('partials/footer') -%>
