<a class="btn btn-outline-primary btn-sm" href="/session">New Session</a>
<a class="btn btn-outline-primary btn-sm" href="/profile">My Profile</a></h1>
<a class="btn btn-outline-primary btn-sm" href="/logout">Logout</a>
<%- include('partials/header') -%>
<h1 class="text-center">Feed</h1>
<div class="container-lg">
  <ul class="p-0">
    <% for(var i=0; i<sessions.length; i++) {%>
      <li class="text-start row list-unstyled m-3 p-3 shadow rounded">
        <a class="btn btn-outline-primary btn-sm m-2" href="/post/viewSession/<%= sessions[i]._id %>" method="GET">Session Info</a>
        <p>Climber: <%= sessions[i].username %></p>
        <p>Session Date: <%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
        <p>Total Climbs This Session: <%= sessions[i].climbs.length %></p>
        <!-- Declares variable that holds hardest climb, iterates through each climbs to check if it was topped out-->
        <!-- Then checks what discipline of climbing and if it's harder than the currest hardest climb-->
        <% let hardestBoulder, hardestRoute %>
        <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
          <% const climb = sessions[i].climbs[j] %>
          <% if (climb.top === 'Yes') { %>
            <% if (climb.typeOfClimb === 'Bouldering' && (!hardestBoulder || climb.difficulty > hardestBoulder.difficulty)) { %>
              <% hardestBoulder = climb %>
            <% } else if (climb.typeOfClimb === 'Routes' && (!hardestRoute || climb.difficulty > hardestRoute.difficulty)) { %>
              <% hardestRoute = climb %>
            <% } %>
          <% } %>
        <% } %>
        <!-- Checking to see if either variable is truthy, will display difficulty of hardest climb in that category-->
        <% if (hardestBoulder) { %>
          <p>Hardest Boulder: <%= hardestBoulder.difficulty %></p>
        <% } %>
        <% if (hardestRoute) { %>
          <p>Hardest Route: <%= hardestRoute.difficulty %></p>
        <% } %>
        <p>Likes: <%= sessions[i].likes %></p>
        <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
          <% const climb = sessions[i].climbs[j] %>
          <% if (climb.image) { %>
            <span>Boulder Problems and Routes Pics</span>
            <img class="img-fluid m-2" src="<%= climb.image %>">
          <% } %>
        <% } %>

        <div class="btn-group">
          <% if (sessions[i].user == user.id) { %>
            <form action="/post/deleteSession/<%= sessions[i]._id %>?_method=DELETE" method="POST">
              <button class="btn btn-primary fa fa-trash me-2" type="submit"></button>
            </form>
          <% } %>
          <form class=action="/post/likePost/<%= sessions[i]._id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
        </div>
        <div>
          <p style="text-decoration: underline">Add A Comment</p>
            <form action="/post/commentSession/<%= sessions[i]._id %>" method="POST">
              <div class="btn-group">
                <input type="text" class="form-control" id="title" name="comment">
                <button type="submit" class="btn btn-primary" value="Comment">Submit</button>
              </div>
            </form>

          <ul class="row list-unstyled">
            <p style="text-decoration: underline">Comments</p>
              <% for (let j = 0; j < comments.length; j++) { %>
                <% const comment = comments[j] %>
                <% if (comment.sessionId.toString() === sessions[i]._id.toString()) { %>
                  <li>
                    <small><%= comment.comment %></small>
                    <small>Submitted by <%= comment.username %></small>
                  </li>
                <% } %>
              <% } %>
          </ul>             
        </div>
      </li>
    <% } %>
  </ul>
</div>  
<%- include('partials/footer') -%>
