<a class="btn btn-primary" href="/session">New Session</a>
<a class="btn btn-primary" href="/profile">My Profile</a></h1>
<a class="btn btn-primary" href="/logout">Logout</a>
<%- include('partials/header') -%>
<h1 class="text-center">Feed</h1>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <% var boulderingDifficultyLabels = [ "VB", "V0", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10" ];
          var routesDifficultyLabels = [ "5.8", "5.9", "5.9+", "5.10-", "5.10", "5.10+", "5.11-", "5.11", "5.11+", "5.12-",
          "5.12", "5.12+", "5.13-", "5.13", "5.13+", "5.14-" ]; %>
        <% for(var i=0; i<sessions.length; i++) {%>
        <li class="col-7 justify-content-between mt-5">
          <a href="/post/<%= sessions[i]._id%>">Session Info</a>
          <h3><%= sessions[i].username %></h3>
          <p><%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
          <p>Total number of climbs in this session: <%= sessions[i].climbs.length %></p>

          <% let hardestBoulder, hardestRoute %>
          <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
            <% const climb = sessions[i].climbs[j] %>
            <% if (climb.top === 'Yes') { %>
              <% if (climb.typeOfClimb === 'Bouldering' && (!hardestBoulder || climb.difficulty > hardestBoulder.difficulty)) { %>
                <% hardestBoulder = climb %>
              <% } else if (climb.typeOfClimb === 'Routes' && (!hardestRoute || climb.difficulty > hardestRoute.difficulty)) { %>
                <% hardestRoute = climb %>
              <% } %>
            <% } %>
          <% } %>

          <% if (hardestBoulder) { %>
            <p>Hardest Boulder: <%= hardestBoulder.difficulty %></p>
          <% } %>

          <% if (hardestRoute) { %>
            <p>Hardest Route: <%= hardestRoute.difficulty %></p>
          <% } %>

          <% if (sessions[i].climbs && sessions[i].climbs.length > 0) { %>
            <span>Boulder Problems and Routes Pics</span>
            <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
              <% const climb = sessions[i].climbs[j] %>
              <% if (climb.image) { %>
                <img class="img-fluid" src="<%= climb.image %>">
              <% } %>
            <% } %>
          <% } %>

          <form class="col-1" action="/post/likePost/<%= sessions[i]._id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>

          <p class="col-3">Likes: <%= sessions[i].likes %></p>

          <% if (sessions[i].user == user.id) { %>
            <form action="/post/deletePost/<%= sessions._id %>?_method=DELETE" method="POST" class="col-1">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
          <% } %>
        </li>
      <% } %>
    </ul>
  </div>
</div>  
<%- include('partials/footer') -%>
