<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <% for(var i=0; i<sessions.length; i++) {%>
        <li class="col-7 justify-content-between mt-5">
          <a href="/post/<%= sessions[i]._id%>">Session Info</a>

          <h3><%= sessions[i].username %></h3>
          <p><%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
          <p>Total number of climbs in this session: <%= sessions[i].climbs.length %></p>

          <% if (sessions[i].climbs && sessions[i].climbs.length > 0) { %>
            <span>Boulder Problems/Routes</span>
            <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
              <% if (sessions[i].climbs[j].image) { %>
                <img class="img-fluid" src="<%= sessions[i].climbs[j].image %>">
              <% } %>
            <% } %>
          <% } %>

        </li>
      <% } %>
    </ul>
  </div>
</div>  
<%- include('partials/footer') -%>
