<%- include('partials/header') -%>
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-xxl">
    <a class="navbar-brand p-2">  
      <span class="lead text-secondary">
          Climb On - Session Tracker App
      </span>
          <!--toggle button for nav-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
    </a>

    <!--navbar links--> 
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/session">New Session</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--card header-->

<div class="container container-md text-center my-4">
  <div class="p-4 mt-4 mb-4 bg-info" style="border-radius: 10px">
    <p class="fs-3 text-center text-white">The Feed</p>
    <p class="text-white">Check out what everyone has been climbing by clicking on the pictures dropdown and seeing who's commented on the page. <br>Dive into each session by clicking on Session Info, where you'll see more information on the climbs from each session. <br>Don't forget to like and leave a comment!</p>
  </div>
</div>


<section class="container-md">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% for(var i=0; i<sessions.length; i++) {%>
      <div class="col mb-4 mt-4" style="max-width: 500px; width: 100%; margin: 0 auto;">        
        <div class="card card-feed border-primary">
          <div class="card-header d-flex justify-content-between align-items-center bg-secondary text-white">
            <div class="col-6">
              <h5 class="card-title m-0 text-capitalize">Climber: <%= sessions[i].username %></h5>
            </div>
            <div class="col-6 text-end">
              <p class="card-text ">Session Date: <%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
            </div>
          </div>
          <section class="card-body">
            <% const images = sessions[i].climbs.filter(climb => climb.image) %>
            <% if (images.length) { %>
              <!--accordion--> 
              <div class="accordion" id="accordion-images-<%= i %>">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-images-<%= i %>">
                    <button class="accordion-button collapsed btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-images-<%= i %>" aria-expanded="false" aria-controls="collapse-images-<%= i %>">
                      Boulder Problems and Routes Pics
                    </button>
                  </h2>
                  <div id="collapse-images-<%= i %>" class="accordion-collapse collapse" aria-labelledby="heading-images-<%= i %>" data-bs-parent="#accordion-images-<%= i %>">
                    <div class="accordion-body">
                      <div class="row">
                        <% images.forEach((climb, index) => { %>
                          <div class="col-md-12 mb-3">  <!--width of 6 columns on medium-sized screens or larger-->
                            <img class="card-img-top p-2" src="<%= climb.image %>" alt="Climbing Image <%= index %>">
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>

            <ul class="list-group list-group-flush list-unstyled">
              <li class="list-group-item mt-2 rounded">Total Climbs This Session: <%= sessions[i].climbs.length %></li>
              <% let hardestBoulder, hardestRoute %>
              <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
                <% const climb = sessions[i].climbs[j] %>
                <% if (climb.top === 'Yes') { %>
                  <% if (climb.typeOfClimb === 'Bouldering' && climb.difficulty.slice(1) !== "B" && (!hardestBoulder || parseInt(climb.difficulty.slice(1)) > parseInt(hardestBoulder.difficulty.slice(1)))) { %>
                    <% hardestBoulder = climb %>
                  <% } else if (climb.typeOfClimb === 'Routes' && (!hardestRoute || parseInt(climb.difficulty) > parseInt(hardestRoute.difficulty))) { %>
                    <% hardestRoute = climb %>
                  <% } %>
                <% } %>
              <% } %>
              <% if (hardestBoulder) { %>
              <li class="list-group-item rounded mt-2">Hardest Completed Boulder: <%= hardestBoulder.difficulty %></li>
              <% } %>
              <% if (hardestRoute) { %>
              <li class="list-group-item rounded mt-2">Hardest Completed Route: <%= hardestRoute.difficulty %></li>
              <% } %>
              <li class="list-group-item rounded mt-2">Likes: <%= sessions[i].likes %></li>
            </ul>
            <!--delete, like, session info buttons-->
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div>
                <a class="btn btn-primary btn-sm text-white" href="/post/viewSession/<%= sessions[i]._id %>" method="GET">Session Info</a>
              </div>
              
              <div>
                <form action="/post/likePost/<%= sessions[i]._id %>?_method=PUT" method="POST" class="d-inline-block me-2">
                  <button class="btn btn-primary fa fa-heart text-white" type="submit"></button>
                </form>
                <% if (sessions[i].user == user.id) { %>
                  <form action="/post/deleteSession/<%= sessions[i]._id %>?_method=DELETE" method="POST" class="d-inline-block">
                    <button class="btn btn-primary fa fa-trash text-white" type="submit"></button>
                  </form>
                <% } %>
              </div>
            </div>
            
          </section>
          
          <!--card footer-->
          <section class="card-footer rounded">
            <div class="row">
              <div class="col-md-6 pt-3">
                <form action="/post/commentSession/<%= sessions[i]._id %>" method="POST">
                  <div class="btn-group pb-3">
                    <input type="text" class="form-control" id="title" name="comment" placeholder="Comment">
                    <button type="submit" class="btn btn-primary text-white" value="Comment">Submit</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6 p-2">
                <div class="accordion" id="accordion-comments-<%= i %>">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-comments-<%= i %>">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-comments-<%= i %>" aria-expanded="false" aria-controls="collapse-comments-<%= i %>">
                        Comments
                      </button>
                    </h2>
                    <div id="collapse-comments-<%= i %>" class="accordion-collapse collapse" aria-labelledby="heading-comments-<%= i %>" data-bs-parent="#accordion-comments-<%= i %>">
                      <div class="accordion-body">
                        <ul class="list-unstyled list-group list-group-flush">
                          <% for (let j = 0; j < comments.length; j++) { %>
                          <% const comment = comments[j] %>
                          <% if (comment.sessionId.toString() === sessions[i]._id.toString()) { %>
                          <li>
                            <small class="list-group-item"><%= comment.comment %> Submitted by <%= comment.username %></small>
                          </li>
                          <% } %>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% } %> 
  </div>
</section>  
<%- include('partials/footer') -%>
