<%- include('partials/header') -%>
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-xxl">
    <a class="navbar-brand p-2">  
      <span class="text-secondary">
          Climb On - Session Tracker App
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
    </a>

    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/session">New Session</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 class="text-center text-secondary fw-normal text-capitalize mt-3"><%= user.userName %>'s Profile</h2>
<div class="container">
  <div class="row mt-5">

    <input type="hidden" id="sessionsData" value='<%- JSON.stringify(sessions) %>'> <%/*Hidden input field that contains the stringified JSON data of all sessions*/%>
    <section>
      <canvas id="myChart"></canvas> <%/*Canvas element to render the chart*/%>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <%/*Chart.js library script*/%>
      <script>
        const sessions = JSON.parse(document.getElementById('sessionsData').value); 
        const ctx = document.getElementById('myChart').getContext('2d');
        const labels = []; 
        const data = []; 

        for (let i = 5; i >= 0; i--) {
          const date = new Date(); 
          date.setMonth(date.getMonth() - i); 
          const month = date.toLocaleString('default', { month: 'long' }); 
          let count = 0; 
          sessions.forEach(session => { 
            const sessionDate = new Date(session.createdAt); 
            if (session.user === '<%= user.id %>' && sessionDate.getMonth() === date.getMonth() && sessionDate.getFullYear() === date.getFullYear()) { 
              count++; 
            }
          });
          labels.push(month); 
          data.push(count);
        }

        const chartData = {
          labels: labels, 
          datasets: [{
            label: 'Number of Sessions', 
            backgroundColor: 'rgba(49, 108, 244, 0.2)', 
            borderColor: 'rgba(49, 108, 244, 1)', 
            borderWidth: 1, 
            data: data 
          }]
        };

        const myChart = new Chart(ctx, { 
          type: 'bar',
          data: chartData,
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true 
                }
              }]
            }
          }
        });
      </script>
    </section>

    <div class="container-profile">
      <div class="row justify-content-center mt-5">
        <% for(var i=0; i<sessions.length; i++) {%>
          <% if (sessions[i].user == user.id) { %>
            <div class="card-profile mb-3">
              <div class="row g-0">
                <div class="col-md-4 mt-3">
                  <% const tagSet = new Set() %>
                  <% const images = sessions[i].climbs.filter(climb => climb.image).map(climb => climb.image) %>
                  <% if (images.length === 0) { %>
                    <img src="/imgs/Event_StillClosed.jpeg" class="img-fluid rounded-start profileImgs">
                  <% } else if (images.length === 1) { %>
                    <img src="<%= images[0] %>" class="img-fluid rounded-start profileImgs">
                  <% } else if (images.length > 1) { %>
                    <div id="carousel<%= i %>" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <% for (var j = 0; j < images.length; j++) { %>
                          <div class="carousel-item <% if (j === 0) { %>active<% } %>">
                            <img src="<%= images[j] %>" class="d-block w-100 rounded-start profileImgs" alt="...">
                          </div>
                        <% } %>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= i %>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= i %>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  <% } %>
                </div>
                <div class="col-md-8">
                  <div class="card-body m-3">
                    <div class="card-header d-flex justify-content-between align-items-center">

                      <div class="col-12 text-start">
                        <p class="card-text">Session Date: <%= sessions[i].createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
                      </div>
                    </div>
                    <p class="card-text pt-3">Total number of climbs in this session: <%= sessions[i].climbs.length %></p>
                    <% let hardestBoulder, hardestRoute %>
                    <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
                      <% const climb = sessions[i].climbs[j] %>
                      <% if (climb.top === 'Yes') { %>
                        <% if (climb.typeOfClimb === 'Bouldering' && (!hardestBoulder || climb.difficulty > hardestBoulder.difficulty)) { %>
                          <% hardestBoulder = climb %>
                        <% } else if (climb.typeOfClimb === 'Routes' && (!hardestRoute || climb.difficulty > hardestRoute.difficulty)) { %>
                          <% hardestRoute = climb %>
                        <% } %>
                      <% } %>
                    <% } %>
                    <% if (hardestBoulder) { %>
                      <p class="card-text">Hardest Boulder: <%= hardestBoulder.difficulty %></p>
                    <% } %>
                    <% if (hardestRoute) { %>
                      <p class="card-text">Hardest Route: <%= hardestRoute.difficulty %></p>
                    <% } %>
                    <p class="card-text">Likes: <%= sessions[i].likes %></p>
                    Session Descriptors:
                    <br>
                    <% for (var j = 0; j < sessions[i].climbs.length; j++) { %>
                      <% const climb = sessions[i].climbs[j] %>
                      <% for (var k = 0; k < climb.tags.length; k++) { %>
                        <% const tag = climb.tags[k] %>
                        <% if (!tagSet.has(tag)) { %>
                          <% tagSet.add(tag) %>
                          <span class="badge bg-primary"><%= tag %></span>
                        <% } %>
                      <% } %>
                    <% } %>                    
                    <div class="d-flex justify-content-start pt-4">
                      <form action="/post/deleteSession/<%= sessions[i]._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-primary fa fa-trash me-2 text-white" type="submit"></button>
                      </form>
                      <form action="/post/likePost/<%= sessions[i]._id %>?_method=PUT" method="POST">
                        <button class="btn btn-primary fa fa-heart text-white" type="submit"></button>
                      </form>
                      <a class="btn btn-primary btn-sm text-white ms-2" href="/post/viewSession/<%= sessions[i]._id %>" method="GET">Session Info</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>                 
      </div>
    </div>
<%- include('partials/footer') -%>