<%- include('partials/header') -%>
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-xxl">
    <a class="navbar-brand p-2">  
      <span class="text-secondary">
          Climb On - Session Tracker App
      </span>
          <!--toggle button for nav-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
    </a>

    <!--navbar links--> 
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/session">New Session</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 class="text-start text-secondary fw-normal text-capitalize h2-sessionOne"><%= session.username %>'s <%= session.createdAt.toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' }) %> 
<br>Climbing Session</h2>
<section class="container-lg">
    <input type="hidden" id="sessionsData" value='<%- JSON.stringify(session) %>'> <%/*Hidden input field that contains the stringified JSON data of all sessions*/%>
    <div class="row">
        <div class="col-md-4">
            <canvas id="boulderingChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="routesChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="attemptsChart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const climbs = JSON.parse('<%- JSON.stringify(session.climbs) %>'); //converts JSON string representation of session.climbs into a object climbs
        const boulderingData = {
        labels: ["VB", "V0", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10"],
        data: new Array(12).fill(0)
        };

        const routesData = {
        labels: ["5.8", "5.9", "5.9+", "5.10-", "5.10", "5.10+", "5.11-", "5.11", "5.11+", "5.12-", "5.12", "5.12+", "5.13-", "5.13", "5.13+", "5.14-"],
        data: new Array(16).fill(0)
        };

        climbs.forEach(climb => {
        const difficulty = climb.difficulty;
        if (climb.typeOfClimb === 'Bouldering') {
            const difficultyIndex = parseInt(difficulty.slice(1)) + 1; // add 1 to get the correct index, was getting wrong difficulty
            boulderingData.data[difficultyIndex]++;
        } else {
            routesData.data[routesData.labels.indexOf(difficulty)]++;
        }
        });

      //bouldering pie chart
      const boulderingChart = new Chart(document.getElementById('boulderingChart').getContext('2d'), { //creates a new instance of a Chart object using the canvas element with ID 'boulderingChart' as its target.
        type: 'pie',
        data: {
          labels: boulderingData.labels.filter((_, i) => boulderingData.data[i] > 0), 
          //sets the data to be displayed in the chart and filters out any data points with 0 values. 
          //boulderingData.labels contains the label strings for each data point and boulderingData.data contains the corresponding values.
          datasets: [{
        data: boulderingData.data.filter(d => d > 0), //specifies the data to be plotted in the chart, filtering out any data points with 0 values.
        backgroundColor: [
          '#FF6384',
          '#36A2EB',
          '#FFCE56',
          '#8e44ad',
          '#2ecc71',
          '#e74c3c',
          '#1abc9c',
          '#34495e',
          '#f1c40f',
          '#9b59b6',
          '#3498db',
          '#95a5a6'
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Difficulty Distribution - Bouldering'
      }
    }
  });

  //routes pie chart
  const routesChart = new Chart(document.getElementById('routesChart').getContext('2d'), {
    type: 'pie',
    data: {
      labels: routesData.labels.filter((_, i) => routesData.data[i] > 0),
      datasets: [{
        data: routesData.data.filter(d => d > 0),
        backgroundColor: [
          '#9b59b6',
          '#e67e22',
          '#FF6384',
          '#27ae60',
          '#f1c40f',
          '#3498db',
          '#36A2EB',
          '#FFCE56',
          '#8e44ad',
          '#2ecc71',
          '#e74c3c',
          '#1abc9c',
          '#34495e',
          '#95a5a6', 
          '#7f8c8d',
          '#bdc3c7'
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Difficulty Distribution - Routes'
      }
    }
  });

  //Climbing attempts vs tops bar graph
  const climb = JSON.parse('<%- JSON.stringify(session.climbs) %>'); //converts JSON string representation of session.climbs into a object climbs
  let totalAttempts = 0;
  let totalTops = 0;

  climb.forEach(climb => {
    totalAttempts += parseInt(climb.attempts);
    totalTops += climb.top ? 1 : 0;
  });

  const attemptsChart = new Chart(document.getElementById('attemptsChart').getContext('2d'), {
    type: 'bar',
    data: {
      labels: ['Total Attempts', 'Total Tops'],
      datasets: [{
        label: 'Total Attempts and Tops',
        data: [totalAttempts, totalTops],
        backgroundColor: [
          '#95a5a6',
          '#FFCE56'
        ]
      }]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Total Attempts and Tops'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>

<ul class="row list-unstyled">
    <% for (let i = 0; i < session.climbs.length; i++) { %>
        <li>Type of Climb: <%= session.climbs[i].typeOfClimb %></li>
        <li>Difficulty: <%= session.climbs[i].difficulty %></li>
        <li>Attempts: <%= session.climbs[i].attempts %></li>
        <li>Top: <%= session.climbs[i].top %></li>
        <li>Tags: <%= session.climbs[i].tags.join(', ') %></li>
        <li><% if (session.climbs.image) { %>
            <img class="img-fluid" src="<%= climb.image %>">
        <% } %></li>
        <li><% if (session.climbs.notes) { %>
            <li>Notes: <%= session.climbs[i].notes %></li>
        <% } %></li>
    <% } %>
</ul>
<%- include('partials/footer') -%>