<%- include('partials/header') -%>
<h2>Current Session</h2>
<ul>
  <% for (let i = 0; i < climbs.length; i++) { %>
    <li>Type of Climb: <%= climbs[i].typeOfClimb %></li>
    <li>Difficulty: <%= climbs[i].difficulty %></li>
    <li>Attempts: <%= climbs[i].attempts %></li>
    <li>Top: <%= climbs[i].top %></li>
    <li>Image: <img src="<%= climbs[i].image %>"></li>
    <li>Tags: <%= climbs[i].tags.join(', ') %></li>
    <li>Notes: <%= climbs[i].notes %></li>
    <li><a href="/edit/<%= climbs[i]._id %>">Edit</a></li>
    <li><a href="/delete/<%= climbs[i]._id %>">Delete</a></li>
  <% } %>
</ul>
<form action="/post/finalizeSession" enctype="multipart/form-data" method="POST">
  <input class="btn btn-primary" type="submit" value="Finalize Session">
</form>
<div class="mt-5">
    <h2>Add A New Climb To Start A Session</h2>
    
    <form action="/post/addClimbToSession" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="typeOfClimb" class="form-label">Type Of Climb</label>
          <select id="typeOfClimb" name="typeOfClimb">
            <option value="Bouldering">Bouldering</option>
            <option value="Routes">Routes</option>
          </select>
      </div>
      <div class="mb-3">
        <label for="Difficulty" class="form-label">Difficulty</label>
        <input type="range" class="form-control" id="Difficulty" min="0" max="11" name="Difficulty">
      </div>
      <div class="mb-3">
        <label for="Attempts" class="form-label">Attempts?</label>
        <input type="range" class="form-control" id="Attempts" min="1" max="25"  name="Attempts">
      </div>
      <div class="mb-3">
          <legend>Top?</legend>
          <input type="checkbox" id="Yes" name="Top">
          <label for="Yes">Yes</label>
          <input type="checkbox" id="No" name="Top">
          <label for="No">No</label>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image/Video</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <div class="mb-3" id="keywords">
        <label><input type="checkbox" name="Keywords" value="OnSight">On Sight</label>
        <label><input type="checkbox" name="Keywords" value="Flash">Flash</label>
        <label><input type="checkbox" name="Keywords" value="Slopers">Slopers</label>
        <label><input type="checkbox" name="Keywords" value="Crimpy">Crimpy</label>
        <label><input type="checkbox" name="Keywords" value="Juggy">Juggy</label>
        <label><input type="checkbox" name="Keywords" value="Overhanging">Overhanging</label>
        <label><input type="checkbox" name="Keywords" value="Static">Static</label>
        <label><input type="checkbox" name="Keywords" value="Dynamic">Dynamic</label>
        <label><input type="checkbox" name="Keywords" value="Dyno">Dyno</label>
        <label><input type="checkbox" name="Keywords" value="Pockets">Pockets</label>
        <label><input type="checkbox" name="Keywords" value="Gaston">Gaston</label>
      </div>
      <div class="mb-3">
        <label for="Notes" class="form-label">Notes</label>
        <textarea class="form-control" id="Notes" name="Notes"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" value="Submit">Submit Climb</button>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </form>

  </div>
  <%- include('partials/footer') -%>